<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landon Hotel: Room Reservations</title>
</head>
<body>
    <h1>Welcome to Room Reservations Page</h1>

    <table>
        <thead>
            <th>Room</th>
            <th>Room Number</th>
            <th>Guest</th>
        </thead>
        <tbody>
            <tr th:each="roomReservation: ${roomReservations}">
                <td th:text="${roomReservation.roomName}">Room</td>
                <td th:text="${roomReservation.roomNumber}">Room #</td>
                <td th:text="${roomReservation.lastName} != null ? ${roomReservation.lastName + ',' + roomReservation.firstName} : 'VACANT'">Guest name</td>
            </tr>
        </tbody>
    </table>
</body>
</html>